^{:watch-dirs       ["test" "src" "dev"]
  :css-dirs         ["resources/public/css"]
  :auto-testing     true
  :extra-main-files {:cards {:main cards.core}}}

{:main     fast-shell.app
 :devcards true}
